
# MONGODB_URI=

# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
# NEXT_PUBLIC_CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# CLOUDINARY_API_KEY=

# AUTH_SECRET=
# NEXTAUTH_SECRET=
# JWT_SECRET=

# NEXTAUTH_URL=
# AUTH_URL=

# NEXT_PUBLIC_BASE_URL=
# AUTH_TRUST_HOST=
# NEXT_PUBLIC_API_URL=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# MAX_IMAGE_SIZE_BYTES=
# MAX_VIDEO_SIZE_BYTES=
# MAX_FILE_SIZE_BYTES=
# NEXT_PUBLIC_MAX_IMAGE_SIZE=
# NEXT_PUBLIC_MAX_VIDEO_SIZE=

# GITHUB_WEBHOOK_SECRET=

# GEMINI_API_KEY=
