# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# media & uploads
/public/uploads/
/public/user_profiles/
/public/user_covers/
/public/attendance_photos/
/public/banners/
/public/wallpaper/
/public/images/
/public/pdf/
/public/work_reports/
/public/ktltc_news/
/public/ktltc_newsletters/
/public/ktltc_posters/
  
# AI Assistant
.gemini/

